html {
    font-size: 10px;
    background: url('./fg/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
   
.navigation {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.card-back{
  left: auto;
}

.card {
  width: 100px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  background-color: #A2748B;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 1s ease;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}




  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1.8rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ff0055;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  .credits_misc{
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffc600;
    text-align: center;
    margin: 1.8rem;

  }

  .credits_misc a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #ff0055;
  }