html {
    background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?q=80&w=2050&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
    margin: 0;
    /* Add this to ensure the background covers the entire page */
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  
.navigation {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.card-back{
    left: auto;
}

.card {
    width: 100px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    background-color: #A2748B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: 1s ease;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    line-height: 16px;
    display: flex;
    justify-content: center;
    position: relative;
}


  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0, 0, 0, 0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0, 0, 0, 0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    /*chnage the clock pointers*/
    transform: rotate(90deg);
    /*to put the pointer to the top*/
    transition: all 0.05s;
    /*so the second pointer moves */
    transition-timing-function: cubic-bezier(0.19, 0.48, 0.58, 1);
  }

  /*I just try a simple one*/


  .credits_misc{
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffc600;
  text-align: center;
  margin: 1.8rem;
  background-color: #A2748B;

}

.credits_misc a{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.credits_misc a:hover {
    text-decoration: underline;
}

.credits_misc a:not(:last-child) {
    margin-right: 15px;
}


.hour-hand{
  background-color: #ffc600;
}

.min-hand{
  background-color: #ff0055;
  width: 45%;
}

footer {
    margin-top: auto;
}