html {
    color: black;
    font-family: sans-serif;
    background: url("https://images.unsplash.com/photo-1508020268086-b96cf4f4bb2e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body {
    margin: 0;
}

.navigation {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.card-back {
    left: auto;
}

.card {
    width: 100px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    background-color: #A2748B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: 1s ease;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    line-height: 16px;
    display: flex;
    justify-content: center;
    position: relative;
}


img {
    background: rgba(233, 169, 229, 0.9);
    padding: 10px;
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h1 {
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    font-size: 100px;
}